#navigation {
  background-color: white;
  padding: 1em;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  #navigation {
    float: right;
    width: 400px;
    height: 137px;
  }
}
.no-mediaqueries #navigation {
  float: right;
  width: 400px;
  height: 137px;
}
@media only screen and (min-width: 451px) and (max-width: 1023px) {
  #navigation {
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  #navigation a {
    display: block;
    width: 100%;
  }
}
