@import "mixin.scss";

// Set the max width for handhelds:
$responsive-width-handhelds: 450px;

#navigation {

  background-color: white;
  padding: 1em;

  // Default width
  width: 100%;

  // Add styles wide-screens and for 
  // browsers without media query support
  @include respond-to(wide-screens, no-media-support) {
    float: right;
    width: 400px;
    height: 137px;
  }
  
  // Add styles only for medium-screens
  @include respond-to(medium-screens) {
    text-align: center;
  }
  
  // Add styles only for tablets
  @include respond-to(handhelds) {
    a {
      display: block;
      width: 100%;
    }
  }
}
