@import "mixin.scss";

// Set the max width for handhelds:
$responsive-width-handhelds: 450px;

#navigation {

  background-color: white;
  padding: 1em;

  // Default width
  width: 100%;

  // Add styles for wide-screens, medium-screens
  // and for browsers without media query support
  @include respond-to(wide-screens, medium-screens, no-media-support) {
    float: right;
    width: 400px;
    height: 137px;
  }

  // Add styles only for medium-screens
  @include respond-to(medium-screens) {
    float: left;
  }

  // Add styles only for mobile handhelds
  @include respond-to(handhelds) {
    a {
      display: block;
      width: 100%;
    }
  }
}
