@mixin respond-to($target-devices...) {
  $responsive-width-handhelds: 320px !default;
  $responsive-width-wide-screens: 1024px !default;

  @each $media in $target-devices {
    // Adds css if the browser doesn't support media queries
    @if $media == no-media-support {
      .no-mediaqueries & {
        @content;
      }
    } @else if $media == handhelds {
      @media only screen and (max-width: $responsive-width-handhelds) {
        @content;
      }
    } @else if $media == medium-screens {
      @media only screen and (min-width: $responsive-width-handhelds + 1) and (max-width: $responsive-width-wide-screens - 1) {
        @content;
      }
    } @else if $media == wide-screens {
      @media only screen and (min-width: $responsive-width-wide-screens) {
        @content;
      }
    }
  }
}
